<div class="col-sm-6">
<h2>Nalog</h2><br/>
<form role="form">
  <div class="form-group">
    <p><label>Korisnicko ime: </label>{{korisnik.korisnickoIme}}</p>
		<p><label>Ime: </label>{{korisnik.ime}}</p>
		<p><label>Prezime: </label>{{korisnik.prezime}}</p>
		<p><label>Adresa: </label>{{korisnik.profilKupca.adresaIsporuke}}</p>
		<p><label>Bodovi: </label>{{korisnik.profilKupca.nagradniBodovi}}</p>
		<p><label>Kategorija: </label>{{korisnik.profilKupca.kategorijaKupca.nazivKategorije}}</p>
  </div>
</form>
<div ng-show="showSelectedRacun">
	<h2>Pregled racuna:</h2>
	<div  class="well">
	<p><b>Sifra: </b>{{racun.sifra}}</p>
	<p><b>Datum izdavanja: </b>{{racun.datumIzdavanja|date:'mediumDate'}}</p>
	<p><b>Broj ostvarenih bodova: </b>{{racun.brojOstvarenihBodova}}</p>
	<p><b>Broj utrosenih bodova: </b>{{racun.brojPotrosenihBodova}}</p>
	<p><b>Cena pre popusta na racun: </b>{{racun.originalnaUkupnaCena}}</p>
	
	<table class="table table-striped">
		<tr>
			<th>Redni broj</th>
			<th>Sifra</th>
			<th>Naziv</th>
			<th>Kolicina</th>
			<th>Pojedinacna cena</th>
			<th>Originalna cena</th>
			<th>Konacna cena</th>	
			<th></th>
		</tr>
		<tr title="{{getPopusti(stavkaRacuna)}}" data-toggle="popover" data-trigger="hover" data-content="Some content" ng-repeat="stavkaRacuna in racun.stavkeRacuna">
			<td valign="middle">{{stavkaRacuna.redniBrojStavke}}</td>
			<td valign="middle">{{stavkaRacuna.artikal.sifra}}</td>
			<td valign="middle">{{stavkaRacuna.artikal.naziv}}</td>
			<td valign="middle">{{stavkaRacuna.kolicinaKupnjeljihArtikala}}</td>
			<td valign="middle">{{stavkaRacuna.jedinicnaCena}}</td>
			<td valign="middle">{{stavkaRacuna.originalnaUkupnaCena}}</td>
			<td valign="middle">{{stavkaRacuna.konacnaCena}}</td>			
		</tr>
	</table>
	<p><label>Primenjeni popusti na racunu: </label></p>
	<div ng-repeat="popustRacun in racun.primenjeniPopusti">
		<p><label>*</label>{{popustRacun.sifra}}</p>
	</div>
	<p><b>Procenat umanjenja: </b>{{racun.procenatUmanjenja * 100}}%</p>
	<p><b>Konacna cena: </b>{{racun.konacnaCena}}</p>
	</div>
</div>
</div>
<div class="col-sm-6">	
	
	<h2>Istorija kupovine</h2><br/>
	<table class="table table-striped table-hover">
    	<tr>
    		<th>Sifra racuna</th>
    		<th>Datum kupovine</th>
    		<th>Konacna cena</th>
    		<th>Stanje racuna</th>
    	</tr>
    	<tr ng-repeat="racun in racuni" ng-click="checkRacun(racun)">
    		<td>{{racun.sifra}}</td>
    		<td>{{racun.datumIzdavanja|date:'mediumDate'}}</td>
    		<td>{{racun.konacnaCena}}</td>
    		<td>{{racun.stanjeRacuna}}</td>
    	</tr>
  	</table>
</div>