<div class="col-sm-4">
	<div class="panel panel-default" style="margin-top: 8px;">
   <div class="panel-heading">Pretraga</div>
   <div class="panel-body">
	   	<form role="form" ng-submit="">
	   		<label for="cena">Cena:</label>
	   		<div class="input-group form-group">
			    <input type="number" class="form-control" id="cenaOd"><span class="input-group-addon">-</span><input type="number" class="form-control" id="cenaDo">
			  </div>
			  <div class="form-group">
			    <label for="sifra">Sifra:</label>
			    <input type="text" class="form-control" id="sifra">
			  </div>
			  <div class="form-group">
			    <label for="naziv">Naziv:</label>
			    <input type="text" class="form-control" id="naziv">
			  </div>
			  <div class="form-group">
			    <label for="kategorija">Kategorija:</label>
			    <select class="form-control" ng-model="odabranaKategorija" id="kategorija" ng-options="kat for kat in ['Monitori','Misevi','TV','Slusalice']"></select>
			  </div>
			  <button type="button" class="btn btn-primary">Pretrazi</button>
			</form>
   </div>
</div>
</div>
<div class="col-sm-8">
	<table class="table">
    <tbody>
			<div ng-repeat="a in [1,2]">
				<tr>
					<td style="border: none;">
					<div class="panel panel-default">
					  <div class="panel-body">
					  	<p><label>Sifra:</label> 13543216</p>
					  	<p><label>Naziv:</label> Steelseries</p>					  	
					  	<p><label>Kategorija:</label> Slusalice</p>
					  	<p><label>Cena:</label> 8500.00</p>
					  	<p><label>Akcija:</label> 10%</p>
					  </div>
					  <div class="panel-footer">
			  			<div class="input-group col-lg-5">
							 	<span class="input-group-addon" id="basic-addon3">Kolicina</span><input type="number" class="form-control" id="kolicina" aria-describedby="basic-addon3"/>
							 	<span class="input-group-btn">
						        <button type="button" class="btn btn-success">Dodaj u korpu</button>
						   	</span>
							</div>
						</div>
					</div>
					</td>
				<tr>
			</div>
    </tbody>
  </table>
</div>